<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98ae61">  <td>20/10/13 09:02:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteAccount.TrainerAndroidAppDeleteAccount(java.lang.String, java.lang.String)[pri:0, instance:testcases.profile.DeleteAccount@6acdbdf5]">TrainerAndroidAppDeleteAccount</td> 
  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>20/10/13 09:02:23</td>   <td>-15718</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DeleteAccount.TrainerAndroidMobileAppAppLaunch()[pri:0, instance:testcases.profile.DeleteAccount@6acdbdf5]">&gt;&gt;TrainerAndroidMobileAppAppLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>20/10/13 09:03:28</td>   <td>49259</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DeleteAccount.TrainerMobileCloseApp()[pri:0, instance:testcases.profile.DeleteAccount@6acdbdf5]">&lt;&lt;TrainerMobileCloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@246399377</td>   <td></td> </tr>
</table>
