<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da5ba">  <td>20/08/14 18:20:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileAppLogin.TrainerAndroidMobileAppAppLaunch()[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppLogin@3abbfa04]">&gt;&gt;TrainerAndroidMobileAppAppLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>20/08/14 18:20:03</td>   <td>-44063</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileAppFacebookLogin.TrainerMobileAppLaunch()[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppFacebookLogin@239963d8]">&gt;&gt;TrainerMobileAppLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/08/14 18:21:32</td>   <td>44830</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileAppGmailLogin.TrainerMobileAppLaunch()[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppGmailLogin@57fffcd7]">&gt;&gt;TrainerMobileAppLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/08/14 18:20:59</td>   <td>11574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileAppLogin.TrainerMobileAppLogin(java.lang.String, java.lang.String)[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppLogin@3abbfa04]">TrainerMobileAppLogin</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>20/08/14 18:20:46</td>   <td>-1083</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileAppFacebookLogin.TrainerMobileCloseApp()[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppFacebookLogin@239963d8]">&lt;&lt;TrainerMobileCloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/08/14 18:21:32</td>   <td>44829</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileAppLogin.TrainerMobileCloseApp()[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppLogin@3abbfa04]">&lt;&lt;TrainerMobileCloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/08/14 18:22:15</td>   <td>87847</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileAppGmailLogin.TrainerMobileCloseApp()[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppGmailLogin@57fffcd7]">&lt;&lt;TrainerMobileCloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>20/08/14 18:20:16</td>   <td>-31634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileAppFacebookLogin.TrainerMobileFacebookAppLogin(java.lang.String, java.lang.String)[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppFacebookLogin@239963d8]">TrainerMobileFacebookAppLogin</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/08/14 18:21:45</td>   <td>57392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileAppGmailLogin.TrainerMobileGmailAppLogin(java.lang.String, java.lang.String)[pri:0, instance:com.mobiletrainer.qa.testcases.MobileAppGmailLogin@57fffcd7]">TrainerMobileGmailAppLogin</td> 
  <td>main@858242339</td>   <td></td> </tr>
</table>
